workflow.json
{
  "name": "Cafe Durga - Assistant",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "05acceb3-bb7d-484d-8480-ccce2337ad86",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -1552,
        -408
      ],
      "webhookId": "cafe-durga-telegram-trigger",
      "notesInFlow": true,
      "credentials": {
        "telegramApi": {
          "id": "nWEoHrxgHBFWhPgx",
          "name": "Telegram account"
        }
      },
      "notes": "Entry point \u2014 listens for all incoming customer messages"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const msg = item.json;\n  const chatId = String(msg?.message?.chat?.id || '');\n  const text = (msg?.message?.text || '').trim();\n  \n  if (!chatId || !text || text.length > 1000) {\n    return null;\n  }\n  \n  return { json: msg };\n}).filter(Boolean);\n"
      },
      "id": "e7f51f53-58e5-4490-a6c7-4bd4173332e4",
      "name": "Pre-filter Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1328,
        -408
      ],
      "notesInFlow": true,
      "notes": "Drops empty/spam messages before they hit the AI"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message?.text || $json.text || \"\" }}",
        "options": {
          "systemMessage": "You are Raj, a friendly sales assistant for Cafe Durga, Chhatrapati Sambhajinagar. Your goal is to help customers order AND increase their order value naturally.\n\nCRITICAL OUTPUT RULE:\nRespond ONLY with valid JSON. No text outside the JSON. Use \\n for line breaks inside the message string \u2014 never real newlines inside a JSON string.\n\nJSON schema (all fields always present):\n{\"message\":\"\",\"order_confirmed\":false,\"customer_name\":\"\",\"phone\":\"\",\"address\":\"\",\"items\":\"\",\"total\":0,\"method\":\"\",\"status\":\"\"}\n\nMESSAGE FORMATTING:\nUse \\n for new lines. Use emojis naturally (1-3 per message). No asterisks, no markdown. Keep text warm and readable on mobile.\n\nEXAMPLE \u2014 menu reply format:\n\"Here's our menu \ud83d\ude0a\\n\\nShakes:\\nCold Coffee - \u20b9120\\nOreo Shake - \u20b9160\\n\\nPizza:\\nCorn Pizza - \u20b9220 \u2b50 Bestseller\\n\\nWhat would you like?\"\n\nEXAMPLE \u2014 item confirmed format:\n\"Added 1x Corn Pizza \u20b9220 to your order \ud83c\udf55\\n\\nAnything else? Our Oreo Shake pairs great with it!\"\n\nEXAMPLE \u2014 order summary format:\n\"Here's your order summary \ud83d\ude0a\\n\\n1x Corn Pizza - \u20b9220\\n1x Oreo Shake - \u20b9160\\n\\nSubtotal: \u20b9380\\n\\nHow would you like to receive it?\\n1. Zomato\\n2. Swiggy\\n3. Dine-in\"\n\nMENU (\u20b9):\nShakes: Cold Coffee 120, Thick Cold Coffee 120, Thick Cold Coffee+Crush 170, Cold Coffee+Crush 120, Cold Coffee+Thunder 160, Thick Cold Coffee+Thunder 180, Cad-B 220, Cad-M 230, Oreo Shake 160, Black Forest Shake 150, Mango Shake 140, Brownie Shake 160, Vanilla Shake 120, Black Current Shake 140, Kiwi Shake 140, Kit Kat Shake 160, Strawberry Shake 140, Chocolate Shake 160, Butter Scotch Shake 120, Rose Shake 120\nSandwiches: Chocolate Sandwich 180, Paneer Sandwich 200, Cheese Corn Sandwich 150, Veg Tikki Sandwich 160, Classic Sandwich 170, Classic Cheese Sandwich 140, Bombay Sandwich 150, Tandoor Paneer Sandwich 180, Tandoor Paneer Club Sandwich 270, Baked Club Sandwich 300, Cheese Bombay Club 280, Paneer Tikka Sandwich 200, Pasta Sandwich 250\nPav Bhaji: Pav Bhaji 140, Extra Pav 20, Cheese Pav Bhaji 170, Masala Pav 120, Cheese Masala Pav 140\nMaggi: Plain Maggie 110, Cheese Maggie 160, Masala Maggie 160, Peri Peri Maggie 160, Paneer Maggie 180, Capsi Corn Maggie 160, Durga Special Maggie 240\nFries: Salted Fries 190, Peri Peri Fries 220, Masala Fries 210, Cheese Fries 260, Patato Shots 180, Chilly Garlic Patato Pops 200\nPizza: Margarita Pizza 180, Corn Pizza 220 \u2b50BESTSELLER, Onion Capsicum Pizza 180, Paneer Mexican Pizza 200\nBurgers: Classic Veg Burger 130, Paneer Burger 160, Cheese Burger 170, Maharaja Burger 280\nBreads: Cheese Garlic Bread 180, Cheese Chilly Toast 130, Bread Pizza Bite 170\nPasta: Red Sauce Pasta 220, White Sauce Pasta 250, Lasagna Baked Pasta 350\nDelivery fee: \u20b930\n\nSALES RULES (do this naturally, never pushy):\n- When customer orders food, suggest a shake or beverage if none ordered yet\n- When customer orders a shake only, mention a quick snack (fries, sandwich)\n- Mention the Corn Pizza as bestseller if customer is browsing or undecided\n- When showing final total, if it's under \u20b9200, gently ask if they'd like to add anything\n- Always say \"Anything else?\" after adding each item\n\nORDER FLOW:\n1. Greet warmly. Ask what they want to order.\n2. Add items one by one. Confirm each. Track running total. Upsell naturally.\n3. When customer says done/no/that's it \u2014 show full order summary with \\n formatting, then ask delivery method:\n   \"1. Zomato\\n2. Swiggy\\n3. Dine-in\"\n4. Collect details:\n   Zomato/Swiggy: ask name + phone. After collecting, share link.\n     Zomato link: https://www.zomato.com/aurangabad/cafe-durga-usmanpura\n     Swiggy link: https://www.swiggy.com/city/aurangabad/cafe-durga-usmanpura-rest514341\n   Dine-in: ask name + phone + preferred time.\n5. Final confirmation: send complete formatted summary. Set order_confirmed=true, status=Confirmed.\n   Do NOT set order_confirmed=true at any earlier step.\n\nPHONE RULE: Must be exactly 10 digits. If invalid, ask again politely.\nNever ask for info already provided in conversation.\n\nSPECIAL COMMANDS (reply immediately, skip order flow):\n\"status\"/\"order status\" \u2192 \"Your order is being prepared! \ud83d\udc9b\"\n\"agent\"/\"talk to human\"/\"support\" \u2192 \"Connecting you to our team at 08055718055 \ud83d\udcac\"\n\"location\"/\"info\"/\"where are you\"/\"address\"/\"cafe details\" \u2192 \"Cafe Durga - Usmanpura \ud83d\ude0a\\n\\n\ud83d\udccd Near VITS Hotel, Railway Station Road, Usmanpura, Chhatrapati Sambhajinagar - 431005\\n\u23f0 10:00 AM - 12:00 AM Daily\\n\ud83d\udcde 08055718055\\n\\n\ud83d\udef5 Order Online:\\nZomato: https://www.zomato.com/aurangabad/cafe-durga-usmanpura\\nSwiggy: https://www.swiggy.com/city/aurangabad/cafe-durga-usmanpura-rest514341\\n\\n\ud83d\uddfa\ufe0f Maps: https://maps.app.goo.gl/5BveExioyCCH9f1k6\\n\u2b50 4.0/5 | \u20b9250-300 for two\"\n",
          "maxIterations": 1
        }
      },
      "id": "c8694650-b1d0-4926-9aca-95b65b8249a5",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -1104,
        -512
      ],
      "notesInFlow": true,
      "notes": "Groq Llama 3.3 70B \u2014 outputs structured JSON always. No Structured Output Parser (removed \u2014 causes mid-conversation failures). JSON parsed in Enrich node."
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "contextWindowLength": 5
      },
      "id": "a6c06565-9960-4463-9927-0cdd0d3b0872",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -968,
        -288
      ],
      "notes": "Stores last 20 messages per customer session"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst chatId = String($('Telegram Trigger').first().json.message.chat.id);\n\nconst now = new Date();\nconst ist = new Date(now.getTime() + (5.5 * 60 * 60 * 1000));\nconst pad = (n) => String(n).padStart(2, '0');\nconst timestamp = `${pad(ist.getUTCDate())}/${pad(ist.getUTCMonth()+1)}/${ist.getUTCFullYear()} ${pad(ist.getUTCHours())}:${pad(ist.getUTCMinutes())} IST`;\n\nlet raw_output = '';\nif (items.length > 0 && items[0].json) {\n  const item = items[0].json;\n  raw_output = (item.output || item.text || item.response || item.content || JSON.stringify(item)).toString().trim();\n}\n\nif (!raw_output || raw_output === '' || raw_output === 'undefined' || raw_output === '{}') {\n  return [{\n    json: {\n      order_confirmed: false,\n      telegram_message: \"Hi! I'm Raj from Cafe Durga \ud83d\ude0a How can I help you today?\",\n      chat_id: chatId,\n      order_id: '', customer_name: '', phone_number: '', phone_valid: false,\n      delivery_address: '', order_info: '', total_price: '0',\n      order_method: '', order_status: '', timestamp: timestamp,\n      validation_passed: false\n    }\n  }];\n}\n\nlet raw = {};\nlet parseSuccess = false;\n\ntry {\n  raw = JSON.parse(raw_output);\n  parseSuccess = true;\n} catch(e) {\n  try {\n    const cleaned = raw_output.replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/```\\s*$/i, '').replace(/^`/g, '').replace(/`$/g, '').trim();\n    raw = JSON.parse(cleaned);\n    parseSuccess = true;\n  } catch(e2) {\n    try {\n      const jsonMatch = raw_output.match(/\\{[\\s\\S]*\\}/);\n      if (jsonMatch) {\n        raw = JSON.parse(jsonMatch[0]);\n        parseSuccess = true;\n      }\n    } catch(e3) {}\n  }\n}\n\nif (!parseSuccess || !raw || Object.keys(raw).length === 0) {\n  raw = {\n    order_confirmed: false,\n    message: raw_output || \"Hi! I'm Raj from Cafe Durga \ud83d\ude0a What would you like to order?\",\n    order_id: '', customer_name: '', phone: '', address: '', items: '', total: 0, method: '', status: ''\n  };\n}\n\nlet telegramMessage = (raw.message || raw.response || raw.text || raw.reply || '').trim().replace(/\\\\n/g, '\\n');\n\nif (!telegramMessage) {\n  if (raw.order_confirmed === true) {\n    telegramMessage = \"Order confirmed! \u2705\\n\\nThank you for choosing Cafe Durga! \ud83d\ude0a\";\n  } else {\n    telegramMessage = \"Hi! I'm Raj from Cafe Durga \ud83d\ude0a What would you like to order today?\";\n  }\n}\n\nconst phoneRaw = raw.phone || raw.phone_number || raw.phoneNumber || '';\nconst phoneClean = phoneRaw.toString().replace(/[^0-9]/g, '');\nconst phoneValid = /^[0-9]{10}$/.test(phoneClean);\n\nconst customerName = (raw.customer_name || raw.customerName || raw.name || '').trim();\nconst deliveryAddress = (raw.address || raw.delivery_address || raw.deliveryAddress || '').trim();\n\nconst orderId = (raw.order_id && raw.order_id.trim() !== '' && !raw.order_id.includes('[') && !raw.order_id.includes('unix'))\n  ? raw.order_id\n  : `CD-${Math.floor(Date.now() / 1000)}`;\n\nconst totalAmount = Number(raw.total || raw.total_price || raw.totalPrice || raw.amount || 0);\n\nconst validationPassed = raw.order_confirmed === true && phoneValid && customerName.length > 0 && totalAmount > 0;\n\nreturn [{\n  json: {\n    order_confirmed: raw.order_confirmed === true,\n    telegram_message: telegramMessage,\n    chat_id: chatId,\n    order_id: orderId,\n    customer_name: customerName,\n    phone_number: phoneClean,\n    phone_valid: phoneValid,\n    delivery_address: deliveryAddress,\n    order_info: raw.items || '',\n    total_price: String(totalAmount),\n    order_method: raw.method || raw.orderMethod || '',\n    order_status: raw.status || 'Confirmed',\n    timestamp: timestamp,\n    validation_passed: validationPassed\n  }\n}];\n"
      },
      "id": "e4eec2fa-2bc9-404f-9107-ddd4c634f72d",
      "name": "Enrich & Validate Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        -408
      ],
      "notesInFlow": true,
      "notes": "Parses AI JSON output (with fallback), validates phone, enriches with IST timestamp, builds Telegram message. Returns array [{json}] as required by n8n Code node v2."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-order-check",
              "leftValue": "={{ $json.order_confirmed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "34f3ef5a-0b39-4f1f-a4d4-399579f1a79c",
      "name": "Is Order Confirmed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -528,
        -408
      ],
      "notes": "True (output 0) \u2192 log to sheet + confirm + notify admin. False (output 1) \u2192 just reply to customer"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.telegram_message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "5b396996-b2be-4252-ae3f-a307a0bd9582",
      "name": "Reply to Customer",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -304,
        -312
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "notesInFlow": true,
      "webhookId": "f402c6ec-ff1a-4c82-bd38-413dd7e50b9b",
      "credentials": {
        "telegramApi": {
          "id": "nWEoHrxgHBFWhPgx",
          "name": "Telegram account"
        }
      },
      "notes": "Sends AI response back to the customer (non-order / mid-conversation replies)"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Uj4XtQYOTe4KyBRjDIrQlHQ2CO3L9RKm4JqDkiQfVeU",
          "mode": "list",
          "cachedResultName": "Cafe Durga - Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Uj4XtQYOTe4KyBRjDIrQlHQ2CO3L9RKm4JqDkiQfVeU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Uj4XtQYOTe4KyBRjDIrQlHQ2CO3L9RKm4JqDkiQfVeU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Customer Name": "={{ $json.customer_name }}",
            "Order ID": "={{ $json.order_id }}",
            "Timestamp": "={{ $json.timestamp }}",
            "Phone": "={{ $json.phone_number }}",
            "Address / Dine-in Time": "={{ $json.delivery_address }}",
            "Items": "={{ $json.order_info }}",
            "Total": "={{ $json.total_price }}",
            "Method": "={{ $json.order_method }}",
            "Status": "={{ $json.order_status }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Order ID",
              "displayName": "Order ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Customer Name",
              "displayName": "Customer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Address / Dine-in Time",
              "displayName": "Address / Dine-in Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Items",
              "displayName": "Items",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total",
              "displayName": "Total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Method",
              "displayName": "Method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "603bcaca-dde5-4a39-bb49-2987e8e9ba6f",
      "name": "Log Order to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -304,
        -504
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "notesInFlow": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1jAo1TPd2AzMdgVf",
          "name": "Google Sheets account"
        }
      },
      "notes": "Appends confirmed order to Google Sheet \u2014 headers must already exist in row 1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Enrich & Validate Data').item.json.chat_id }}",
        "text": "={{ $('Enrich & Validate Data').item.json.telegram_message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "0d0d688f-57e2-4269-90a9-67911df8d0b3",
      "name": "Send Order Confirmation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -80,
        -504
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "notesInFlow": true,
      "webhookId": "8a9873ad-9337-461b-a93f-5255924c8364",
      "credentials": {
        "telegramApi": {
          "id": "nWEoHrxgHBFWhPgx",
          "name": "Telegram account"
        }
      },
      "notes": "Sends confirmation AFTER sheet write succeeds \u2014 guarantees logging happened first"
    },
    {
      "parameters": {
        "chatId": "1903854448",
        "text": "\ud83d\udd14 NEW ORDER RECEIVED!\n\nCustomer: {{ $json.customer_name }}\nPhone: {{ $json.phone_number }}\nAddress: {{ $json.delivery_address }}\n\nOrder:\n{{ $json.order_info }}\n\nTotal: \u20b9{{ $json.total_price }}\nMethod: {{ $json.order_method }}\nOrder ID: {{ $json.order_id }}\n\nTime: {{ $json.timestamp }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "1ab19a82-b4c9-4da2-80c1-156255df625f",
      "name": "Notify Admin (New Order)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        144,
        -504
      ],
      "notesInFlow": true,
      "webhookId": "f9278e20-0ec8-4a8e-91a3-44e44fe60f0d",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "credentials": {
        "telegramApi": {
          "id": "nWEoHrxgHBFWhPgx",
          "name": "Telegram account"
        }
      },
      "notes": "Sends new order alert to admin Telegram. Uses $env.ADMIN_CHAT_ID \u2014 set this in n8n env vars"
    },
    {
      "parameters": {
        "path": "cafe-durga-orders",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "31a3e10e-ebc5-4faf-bae4-9ae8db0653cb",
      "name": "Live Orders API",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1552,
        -80
      ],
      "webhookId": "cafe-durga-live-orders",
      "notesInFlow": true,
      "notes": "GET /webhook/cafe-durga-orders \u2014 returns today's orders as JSON for the live display page"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Uj4XtQYOTe4KyBRjDIrQlHQ2CO3L9RKm4JqDkiQfVeU",
          "mode": "list",
          "cachedResultName": "Cafe Durga - Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Uj4XtQYOTe4KyBRjDIrQlHQ2CO3L9RKm4JqDkiQfVeU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Uj4XtQYOTe4KyBRjDIrQlHQ2CO3L9RKm4JqDkiQfVeU/edit#gid=0"
        },
        "options": {}
      },
      "id": "fe7013fa-d7e9-455e-a1cd-83ff3ff0cec9",
      "name": "Read Orders from Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1328,
        -80
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "notesInFlow": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1jAo1TPd2AzMdgVf",
          "name": "Google Sheets account"
        }
      },
      "notes": "Reads ALL rows from the Orders sheet to serve the live display"
    },
    {
      "parameters": {
        "jsCode": "// Filter for today's orders and build clean response\n// Also compute summary stats for the dashboard\n\nconst allOrders = $input.all().map(i => i.json);\n\n// Get today's date in DD/MM/YYYY (IST)\nconst now = new Date();\nconst istTime = new Date(now.getTime() + (5.5 * 60 * 60 * 1000));\nconst pad = (n) => String(n).padStart(2, '0');\nconst todayPrefix = `${pad(istTime.getUTCDate())}/${pad(istTime.getUTCMonth() + 1)}/${istTime.getUTCFullYear()}`;\n\n// Filter to today and add sequential display number\nconst todayOrders = allOrders\n  .filter(o => (o['Timestamp'] || '').startsWith(todayPrefix))\n  .map((o, idx) => ({\n    display_number: idx + 1,\n    order_id: o['Order ID'] || '',\n    timestamp: o['Timestamp'] || '',\n    customer_name: o['Customer Name'] || '',\n    phone: o['Phone'] || '',\n    address: o['Address / Dine-in Time'] || '',\n    items: o['Items'] || '',\n    total: o['Total (\u20b9)'] || '0',\n    method: o['Method'] || '',\n    status: o['Status'] || 'Confirmed'\n  }));\n\n// Summary stats\nconst totalRevenue = todayOrders.reduce((sum, o) => sum + parseInt(o.total || 0, 10), 0);\nconst methodCounts = todayOrders.reduce((acc, o) => {\n  acc[o.method] = (acc[o.method] || 0) + 1;\n  return acc;\n}, {});\n\nreturn [{\n  json: {\n    success: true,\n    date: todayPrefix,\n    total_orders: todayOrders.length,\n    total_revenue: totalRevenue,\n    method_breakdown: methodCounts,\n    orders: todayOrders\n  }\n}];"
      },
      "id": "f53625e4-cd2f-4736-9c29-48f5eb598326",
      "name": "Filter & Format Today's Orders",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1104,
        -80
      ],
      "notesInFlow": true,
      "notes": "Filters today's orders and adds summary stats for the dashboard"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Cache-Control",
                "value": "no-cache, no-store, must-revalidate"
              }
            ]
          }
        }
      },
      "id": "9cb4a1b0-844a-4478-a5f2-0e869d18695e",
      "name": "Respond with Orders JSON",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -880,
        -80
      ],
      "notesInFlow": true,
      "notes": "Returns JSON with CORS headers so the HTML display page can fetch it from any domain"
    },
    {
      "parameters": {},
      "id": "34949acb-e5cd-43df-912d-8420298d0967",
      "name": "On Workflow Error",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -1552,
        144
      ],
      "notes": "Captures any workflow-level errors \u2014 set this workflow's ID in Settings > Error Workflow"
    },
    {
      "parameters": {
        "jsCode": "const error = $input.first().json;\n\nconst now = new Date();\nconst ist = new Date(now.getTime() + (5.5 * 60 * 60 * 1000));\nconst time = ist.toLocaleString('en-IN', { timeZone: 'Asia/Kolkata' });\n\nconst errorMessage = `\ud83d\udea8 WORKFLOW ERROR\n\nTime: ${time}\nWorkflow: Cafe Durga Order Bot\nNode: ${error.node?.name || 'Unknown'}\nError: ${error.error?.message || 'Unknown error'}\n\nStack: ${error.error?.stack?.substring(0, 500) || 'No stack trace'}\n`;\n\nreturn [\n  {\n    json: {\n      message: errorMessage,\n    },\n  },\n];"
      },
      "id": "4440cab7-7c01-429b-9a94-c977517e3117",
      "name": "Format Error Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1328,
        144
      ],
      "notes": "Formats error details for admin Telegram alert"
    },
    {
      "parameters": {
        "chatId": "1903854448",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "7ffe8dd2-f613-4cf7-bf9e-1ffa79298a84",
      "name": "Alert Admin (Error)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1104,
        144
      ],
      "notesInFlow": true,
      "webhookId": "a92dd4f0-c467-414c-8c93-c2dcf8195dd8",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "credentials": {
        "telegramApi": {
          "id": "nWEoHrxgHBFWhPgx",
          "name": "Telegram account"
        }
      },
      "notes": "Sends error notification to admin. Uses $env.ADMIN_CHAT_ID"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1096,
        -288
      ],
      "id": "d43321e0-2cae-4c58-be1c-096ac6efe13f",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "4dQdIFwhwG1pppsR",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Cafe Durga \u2014 Order Bot\n\n**Flow:** Telegram \u2192 Pre-filter \u2192 AI Agent (Groq) \u2192 Enrich \u2192 Route\n\n**Order path:** Log to Sheet \u2192 Confirm Customer \u2192 Notify Admin\n\n**Model:** llama-3.3-70b-versatile\n**Memory:** 5 conversation pairs per chat ID\n**Output:** Pure JSON parsed by Enrich node\n\n**Live Orders API:** GET /webhook/cafe-durga-orders\n**Admin Telegram:** 1903854448\n**Sheet:** Cafe Durga - Orders (Sheet1)",
        "height": 260,
        "width": 500,
        "color": 3
      },
      "id": "sticky-note-cafe-durga",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1552,
        -640
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Pre-filter Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pre-filter Messages": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Enrich & Validate Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich & Validate Data": {
      "main": [
        [
          {
            "node": "Is Order Confirmed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Order Confirmed?": {
      "main": [
        [
          {
            "node": "Log Order to Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply to Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Order to Sheet": {
      "main": [
        [
          {
            "node": "Send Order Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Order Confirmation": {
      "main": [
        [
          {
            "node": "Notify Admin (New Order)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Live Orders API": {
      "main": [
        [
          {
            "node": "Read Orders from Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Orders from Sheet": {
      "main": [
        [
          {
            "node": "Filter & Format Today's Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter & Format Today's Orders": {
      "main": [
        [
          {
            "node": "Respond with Orders JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Workflow Error": {
      "main": [
        [
          {
            "node": "Format Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Alert": {
      "main": [
        [
          {
            "node": "Alert Admin (Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "e6705a19-979f-4156-9943-d777c60636c8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "265da8a1c7e9293538862d28402f002949a780e4e74b4e52de1c7433184c8ce7"
  },
  "id": "bvVt1oglSNhsvLWs",
  "tags": [
    {
      "name": "groq",
      "id": "37HSvrpgAqn8c0B7",
      "updatedAt": "2026-02-17T15:30:01.899Z",
      "createdAt": "2026-02-17T15:30:01.899Z"
    },
    {
      "name": "ai-agent",
      "id": "7BkJ1C2W1U7UqO1J",
      "updatedAt": "2026-02-17T15:30:01.893Z",
      "createdAt": "2026-02-17T15:30:01.893Z"
    },
    {
      "name": "telegram",
      "id": "InX6oVVxiKtM2Mzu",
      "updatedAt": "2026-02-17T15:30:01.847Z",
      "createdAt": "2026-02-17T15:30:01.847Z"
    },
    {
      "name": "restaurant",
      "id": "Jyh4mzMYBTpsIdTK",
      "updatedAt": "2026-02-17T15:30:01.889Z",
      "createdAt": "2026-02-17T15:30:01.889Z"
    },
    {
      "name": "order-automation",
      "id": "MtsbVm8MRcr1yq95",
      "updatedAt": "2026-02-17T15:30:01.905Z",
      "createdAt": "2026-02-17T15:30:01.905Z"
    }
  ]
}
