workflow.json
{
  "name": "Cafe Durga Bot - Production Ready",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "telegram-trigger-001",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        400
      ],
      "webhookId": "cafe-durga-webhook-trigger",
      "notes": "Listens for incoming Telegram messages from customers"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are Raj, the friendly and efficient virtual assistant for Cafe Durga in Chhatrapati Sambhajinagar, Maharashtra, India. Always:\n\u2705 Use simple, polite language\n\u2705 Send responses in plain text (NO markdown *, _, `) - Note: This prompt uses markdown for readability, but you should NOT use markdown in your responses to customers\n\u2705 Use only 1\u20132 emojis per message for warmth\n\u2705 Display time in IST\n\u2705 Provide structured data for order logging\n\n\ud83c\udf54 COMPLETE MENU & PRICES (\u20b9)\n\n**Shakes & Beverages**\n\n- Cold Coffee \u2013 \u20b9120\n- Thick Cold Coffee \u2013 \u20b9120\n- Thick Cold Coffee With Crush \u2013 \u20b9170\n- Cold Coffee With Crush \u2013 \u20b9120\n- Cold Coffee With Thunder \u2013 \u20b9160\n- Thick Cold Coffee With Thunder \u2013 \u20b9180\n- Cad-B \u2013 \u20b9220\n- Cad-M \u2013 \u20b9230\n- Oreo Shake \u2013 \u20b9160\n- Black Forest Shake \u2013 \u20b9150\n- Mango Shake \u2013 \u20b9140\n- Brownie Shake \u2013 \u20b9160\n- Vanilla Shake \u2013 \u20b9120\n- Black Current Shake \u2013 \u20b9140\n- Kiwi Shake \u2013 \u20b9140\n- Kit Kat Shake \u2013 \u20b9160\n- Strawberry Shake \u2013 \u20b9140\n- Chocolate Shake \u2013 \u20b9160\n- Butter Scotch Shake \u2013 \u20b9120\n- Rose Shake \u2013 \u20b9120\n\n**Sandwiches**\n\n- Chocolate Sandwich \u2013 \u20b9180\n- Paneer Sandwich \u2013 \u20b9200\n- Cheese Corn Sandwich \u2013 \u20b9150\n- Veg Tikki Sandwich \u2013 \u20b9160\n- Classic Sandwich \u2013 \u20b9170\n- Classic Cheese Sandwich \u2013 \u20b9140\n- Bombay Sandwich \u2013 \u20b9150\n- Tandoor Paneer Sandwich \u2013 \u20b9180\n- Tandoor Paneer Club Sandwich \u2013 \u20b9270\n- Baked Club Sandwich \u2013 \u20b9300\n- Cheese Bombay Club \u2013 \u20b9280\n- Paneer Tikka Sandwich \u2013 \u20b9200\n- Pasta Sandwich \u2013 \u20b9250\n\n**Pav Bhaji Specials**\n\n- Pav Bhaji \u2013 \u20b9140\n- Extra Pav \u2013 \u20b920\n- Cheese Pav Bhaji \u2013 \u20b9170\n- Masala Pav \u2013 \u20b9120\n- Cheese Masala Pav \u2013 \u20b9140\n\n**Maggi Varieties**\n\n- Plain Maggie \u2013 \u20b9110\n- Cheese Maggie \u2013 \u20b9160\n- Masala Maggie \u2013 \u20b9160\n- Peri Peri Maggie \u2013 \u20b9160\n- Paneer Maggie \u2013 \u20b9180\n- Capsi Corn Maggie \u2013 \u20b9160\n- Durga Special Maggie \u2013 \u20b9240\n\n**Fries & Sides**\n\n- Salted Fries \u2013 \u20b9190\n- Peri Peri Fries \u2013 \u20b9220\n- Masala Fries \u2013 \u20b9210\n- Cheese Fries \u2013 \u20b9260\n- Patato Shots \u2013 \u20b9180\n- Chilly Garlic Patato Pops \u2013 \u20b9200\n\n**Pizza**\n\n- Margarita Pizza \u2013 \u20b9180\n- Corn Pizza \u2013 \u20b9220 (Bestseller)\n- Onion Capsicum Pizza \u2013 \u20b9180\n- Paneer Mexican Pizza \u2013 \u20b9200\n\n**Burgers**\n\n- Classic Veg Burger \u2013 \u20b9130\n- Paneer Burger \u2013 \u20b9160\n- Cheese Burger \u2013 \u20b9170\n- Maharaja Burger \u2013 \u20b9280\n\n**Breads & Toasts**\n\n- Cheese Garlic Bread \u2013 \u20b9180\n- Cheese Chilly Toast \u2013 \u20b9130\n- Bread Pizza Bite \u2013 \u20b9170\n\n**Pasta**\n\n- Red Sauce Pasta \u2013 \u20b9220\n- White Sauce Pasta \u2013 \u20b9250\n- Lasagna Baked Pasta \u2013 \u20b9350\n\n**Delivery Fee** \u2013 \u20b930\n\n\ud83d\udcdd ORDER FLOW\n\n1\ufe0f\u20e3 GREETING:\n\"Hi! I'm Raj from Cafe Durga \ud83d\ude0a What would you like to order today?\"\n\n2\ufe0f\u20e3 TAKING ORDER:\n- Show menu when asked (display by categories with proper formatting)\n- Confirm each item added: \"Got it! Added 1x [Item Name] Rs[Price] to your order\"\n- Always ask \"Anything else?\" after each item\n- When user says \"that's it\" or \"no\" or \"done\", proceed to order method selection\n- Keep track of all items and calculate running total\n\n3\ufe0f\u20e3 ORDER METHOD SELECTION:\n\"Perfect! Your order:\n[LIST ITEMS WITH PRICES]\n\nHow would you like to receive it?\n1. Zomato\n2. Swiggy  \n3. Dine-in\n\nPlease reply with the number or name \ud83d\ude0a\"\n\n4\ufe0f\u20e3 ORDER SUMMARY & DETAIL REQUEST:\n\"Great! Here's your order summary:\n\nYour order:\n[ITEMS WITH PRICES]\n[If delivery: Delivery \u2013 \u20b930]\nTOTAL: \u20b9[TOTAL]\nOrder Method: [Method]\n\nTo confirm, please provide:\n1. Full name\n2. Phone number\n3. [Delivery address OR Dine-in time]\n\nYou can send all details together \ud83d\ude0a\"\n\n5\ufe0f\u20e3 COLLECTING DETAILS:\n- When user provides details, parse and extract:\n  * Full name\n  * Phone number (must be 10 digits)\n  * Address (for delivery) OR Time (for dine-in)\n- Acknowledge what was received\n- Only ask for what's missing\n- When info is provided all at once, acknowledge all together\n- Validate phone number is 10 digits\n\n6\ufe0f\u20e3 FINAL CONFIRMATION:\nOnce ALL details received, respond with:\n\n\"\u2705 Order confirmed!\n\nORDER DETAILS:\nCustomer: [Full Name]\nPhone: [Phone]\n[Address: [Address] OR Dine-in: [Time]]\n\nYour order:\n[ITEMS]\nTOTAL: \u20b9[TOTAL]\n\nOrder Method: [Method]\n[Expected delivery: [Time] \ud83d\ude9a OR See you at: [Time] \ud83c\udf7d\ufe0f]\n\nThank you for choosing Cafe Durga! \ud83d\ude0a\"\n\nCRITICAL: After sending this confirmation, you MUST output the order data using the ORDER_DATA markers below:\n\n---ORDER_DATA---\nORDER_ID: CD-[unix_timestamp]\nCUSTOMER_NAME: [Full Name]\nPHONE: [10-digit number]\nADDRESS: [Full address OR Dine-in at [time]]\nITEMS: [Itemized list with quantities and prices]\nTOTAL: [Total amount as number only]\nMETHOD: [Zomato/Swiggy/Dine-in]\nSTATUS: Confirmed\n---END_ORDER_DATA---\n\n7\ufe0f\u20e3 POST-CONFIRMATION:\nIf user says \"thanks\" or \"that's it\":\n\"You're welcome! Feel free to check order status anytime \ud83d\udc9b\"\n\n\ud83d\udccc SPECIAL COMMANDS:\n\n\"Status?\" or \"Order status?\" \u2192 \"Your order is being prepared! Expected delivery: [time] \ud83d\udc9b\"\n\n\"Agent\" or \"Talk to human\" or \"Support\" \u2192 \"Connecting you to our team at 08055718055 \ud83d\udcac\"\n\n\"Location\" or \"Info\" or \"Where are you\" or \"Address\" or \"Cafe details\" \u2192\nCafe Durga - Usmanpura \ud83d\ude0a\n\n\ud83d\udccd Address: Near VITS Hotel, Railway Station Road, Usmanpura, Chhatrapati Sambhajinagar, Maharashtra - 431005\n\n\u23f0 Hours: 10:00 AM - 12:00 AM Daily\n\ud83d\udcde Phone: 08055718055\n\n\ud83d\uddfa\ufe0f Google Maps: https://maps.app.goo.gl/Vr3w5hL1gjDgmkcE7\n\n\ud83d\udef5 Order Online:\n\u2022 Zomato: https://www.zomato.com/aurangabad/cafe-durga-usmanpura/menu\n\u2022 Swiggy: https://www.swiggy.com/city/aurangabad/cafe-durga-usmanpura-rest514341\n\n\u2b50 Rating: 4.0/5\n\ud83d\udcb0 \u20b9250-300 for two\n\nLooking forward to serving you! \ud83d\udc9b\n\n\ud83c\udfaf KEY RULES:\n\n1. Never ask for same info twice\n2. Parse multiple details when provided together\n3. Always acknowledge complete information\n4. Output ORDER_DATA markers ONLY after final confirmation in step 6\n5. Track conversation state throughout the ordering process\n6. Be friendly but efficient\n7. Respond to \"that's it\" appropriately at all stages\n8. Use plain text in responses (NO markdown formatting)\n9. Keep responses conversational and warm\n10. Always include 1-2 emojis per message for warmth\n\n\ud83d\udd27 STATE TRACKING:\n\nTrack these variables mentally throughout conversation:\n- items_ordered: [] (list of items with prices)\n- order_method: null (Zomato/Swiggy/Dine-in)\n- customer_name: null\n- phone_number: null (must be 10 digits)\n- delivery_address_or_time: null\n- order_confirmed: false\n- total_amount: 0 (running total)\n\nMove forward to next step only when current step is complete. Never skip steps in the order flow.",
          "maxIterations": 10
        }
      },
      "id": "ai-agent-groq-001",
      "name": "AI Agent (Groq)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        460,
        400
      ],
      "notes": "Processes customer messages using Groq's Llama model",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "id": "memory-buffer-001",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        460,
        560
      ],
      "notes": "Maintains conversation history per customer (last 10 messages)"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 0.5,
          "maxTokens": 500
        }
      },
      "id": "groq-model-001",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        460,
        720
      ],
      "notes": "LLM model for generating responses"
    },
    {
      "parameters": {
        "jsCode": "// Extract order data with improved parsing\nconst output = $input.first().json.output;\nconst chatId = $('Telegram Trigger').first().json.message.chat.id;\n\n// Check for ORDER_DATA markers\nconst orderDataMatch = output.match(/---ORDER_DATA---([\\s\\S]*?)---END_ORDER_DATA---/);\n\nif (orderDataMatch) {\n  const orderData = orderDataMatch[1];\n  \n  // Enhanced field extraction with fallbacks\n  const extractField = (fieldName) => {\n    const regex = new RegExp(`${fieldName}:\\\\s*(.+?)(?=\\\\n[A-Z_]+:|\\\\n---|$)`, 's');\n    const match = orderData.match(regex);\n    if (match) {\n      return match[1].trim();\n    }\n    return '';\n  };\n  \n  // Generate IST timestamp\n  const now = new Date();\n  const istOffset = 5.5 * 60 * 60 * 1000;\n  const istTime = new Date(now.getTime() + istOffset);\n  \n  const day = String(istTime.getUTCDate()).padStart(2, '0');\n  const month = String(istTime.getUTCMonth() + 1).padStart(2, '0');\n  const year = istTime.getUTCFullYear();\n  const hour = String(istTime.getUTCHours()).padStart(2, '0');\n  const minute = String(istTime.getUTCMinutes()).padStart(2, '0');\n  const timestamp = `${day}/${month}/${year} ${hour}:${minute}`;\n  \n  // Extract all fields with defaults\n  const orderId = extractField('ORDER_ID') || `CD-${Math.floor(Date.now() / 1000)}`;\n  const customerName = extractField('CUSTOMER_NAME') || 'Unknown';\n  const phone = extractField('PHONE') || 'N/A';\n  const address = extractField('ADDRESS') || 'N/A';\n  const items = extractField('ITEMS') || 'N/A';\n  const total = extractField('TOTAL').replace(/[^0-9]/g, '') || '0';\n  const method = extractField('METHOD') || 'Unknown';\n  const status = extractField('STATUS') || 'Confirmed';\n  \n  // Remove ORDER_DATA from user message\n  const cleanMessage = output.replace(/---ORDER_DATA---[\\s\\S]*?---END_ORDER_DATA---/, '').trim();\n  \n  return {\n    json: {\n      telegram_message: cleanMessage,\n      has_order_data: true,\n      order_id: orderId,\n      customer_name: customerName,\n      chat_id: String(chatId),\n      phone_number: phone,\n      delivery_address: address,\n      order_info: items,\n      total_price: total,\n      order_method: method,\n      order_status: status,\n      timestamp: timestamp\n    }\n  };\n} else {\n  // No order data found\n  return {\n    json: {\n      telegram_message: output,\n      has_order_data: false,\n      chat_id: String(chatId)\n    }\n  };\n}"
      },
      "id": "extract-order-data-001",
      "name": "Extract Order Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        400
      ],
      "notes": "Parses confirmed orders and extracts structured data",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-order-check",
              "leftValue": "={{ $json.has_order_data }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-order-001",
      "name": "Has Order Data?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        900,
        400
      ],
      "notes": "Routes execution based on whether order data exists"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.telegram_message }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "send-telegram-001",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1120,
        300
      ],
      "notes": "Sends response back to customer",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_GOOGLE_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0"
        },
        "filtersUI": {
          "values": []
        },
        "options": {
          "range": "A1:J1"
        }
      },
      "id": "check-headers-001",
      "name": "Check Sheet Headers",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1120,
        500
      ],
      "notes": "Checks if header row exists in Google Sheet",
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "header-exists-check",
              "leftValue": "={{ $json['Order id'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-headers-exist-001",
      "name": "Headers Exist?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1340,
        500
      ],
      "notes": "Checks if headers are present"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_GOOGLE_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Order id": "Order id",
            "Customer Name": "Customer Name",
            "Chat id": "Chat id",
            "Phone number": "Phone number",
            "Delivery Address": "Delivery Address",
            "Order info": "Order info",
            "Total Price": "Total Price",
            "Order Method": "Order Method",
            "Order Status": "Order Status",
            "Timestamp": "Timestamp"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "create-headers-001",
      "name": "Create Header Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1560,
        600
      ],
      "notes": "Creates header row if it doesn't exist"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_GOOGLE_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Order id": "={{ $('Extract Order Data').item.json.order_id }}",
            "Customer Name": "={{ $('Extract Order Data').item.json.customer_name }}",
            "Chat id": "={{ $('Extract Order Data').item.json.chat_id }}",
            "Phone number": "={{ $('Extract Order Data').item.json.phone_number }}",
            "Delivery Address": "={{ $('Extract Order Data').item.json.delivery_address }}",
            "Order info": "={{ $('Extract Order Data').item.json.order_info }}",
            "Total Price": "={{ $('Extract Order Data').item.json.total_price }}",
            "Order Method": "={{ $('Extract Order Data').item.json.order_method }}",
            "Order Status": "={{ $('Extract Order Data').item.json.order_status }}",
            "Timestamp": "={{ $('Extract Order Data').item.json.timestamp }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "append-order-001",
      "name": "Append Order to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1780,
        500
      ],
      "notes": "Logs order data to Google Sheet",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {},
      "id": "error-trigger-001",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        240,
        800
      ],
      "notes": "Triggers when workflow errors occur"
    },
    {
      "parameters": {
        "jsCode": "// Format error details for notification\nconst error = $input.first().json;\n\nconst errorMessage = `\ud83d\udea8 Cafe Durga Bot Error Alert\n\nWorkflow: ${error.workflow?.name || 'Unknown'}\nNode: ${error.error?.node?.name || 'Unknown'}\nError: ${error.error?.message || 'No details'}\nTime: ${error.error?.timestamp || new Date().toISOString()}\nExecution ID: ${error.execution?.id || 'N/A'}\n\nPlease check the workflow immediately!`;\n\nreturn {\n  json: {\n    error_message: errorMessage,\n    workflow_name: error.workflow?.name,\n    error_node: error.error?.node?.name,\n    error_details: error.error?.message\n  }\n};"
      },
      "id": "format-error-001",
      "name": "Format Error Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        800
      ],
      "notes": "Formats error details for notification"
    },
    {
      "parameters": {
        "chatId": "YOUR_ADMIN_CHAT_ID",
        "text": "={{ $json.error_message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "send-error-alert-001",
      "name": "Send Error Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        680,
        800
      ],
      "notes": "Sends error notification to admin"
    },
    {
      "parameters": {
        "content": "## \ud83c\udf54 Cafe Durga Telegram Order Bot - Production Ready\n\n### \u2728 Features\n- \u2705 AI-powered conversational ordering\n- \u2705 Automatic header creation in Google Sheets\n- \u2705 Robust error handling with retry logic\n- \u2705 Error notifications to admin\n- \u2705 Customer conversation memory (10 messages)\n- \u2705 Complete order logging with all details\n- \u2705 Location & info commands support\n- \u2705 IST timezone for timestamps\n\n### \ud83d\udd27 Setup Instructions\n1. **Replace Credentials:**\n   - Telegram Bot Token\n   - Groq API Key\n   - Google Sheets OAuth2\n\n2. **Update Google Sheet ID:**\n   - Replace \"YOUR_GOOGLE_SHEET_ID\" in nodes:\n     * Check Sheet Headers\n     * Create Header Row\n     * Append Order to Sheet\n\n3. **Set Admin Chat ID:**\n   - Replace \"YOUR_ADMIN_CHAT_ID\" in \"Send Error Alert\" node\n   - Get your chat ID by messaging @userinfobot on Telegram\n\n4. **Test Workflow:**\n   - Send test message to bot\n   - Verify response\n   - Check order logging in sheet\n   - Test error handling\n\n### \ud83d\udcca Best Practices Implemented\n1. **Error Handling:** Retry on fail for critical nodes\n2. **Auto-Headers:** Automatically creates sheet headers if missing\n3. **Error Alerts:** Admin gets notified of any failures\n4. **Memory Management:** Stores last 10 messages per user\n5. **Data Validation:** Extracts and validates all order fields\n6. **Structured Logging:** Complete order data in Google Sheets\n7. **IST Timestamps:** All times in Indian Standard Time\n\n### \ud83c\udfaf Node Configuration\n- **Telegram Trigger:** Retries: 3, Wait: 2s\n- **AI Agent:** Retries: 3, Wait: 2s, Max tokens: 500\n- **Google Sheets:** Retries: 3, Wait: 2s\n- **Extract Order Data:** Continue on fail: Yes\n\n### \ud83d\udcdd Testing Checklist\n\u25a1 Bot responds to greetings\n\u25a1 Menu displays correctly\n\u25a1 Orders are processed\n\u25a1 Google Sheet logs data\n\u25a1 Headers auto-create if missing\n\u25a1 Error alerts work\n\u25a1 Memory persists across messages\n\u25a1 Location command works\n\u25a1 IST timestamps are correct\n\n### \ud83d\udd12 Security Notes\n- Never share credential IDs\n- Keep admin chat ID private\n- Regularly backup Google Sheets\n- Monitor error logs\n\n### \ud83d\udcde Cafe Durga Contact\nPhone: 08055718055\nLocation: Usmanpura, Sambhajinagar\nHours: 10 AM - 12 AM Daily"
      },
      "id": "sticky-note-001",
      "name": "\ud83d\udcda Workflow Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        80
      ]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent (Groq)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent (Groq)": {
      "main": [
        [
          {
            "node": "Extract Order Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent (Groq)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent (Groq)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract Order Data": {
      "main": [
        [
          {
            "node": "Has Order Data?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Order Data?": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Sheet Headers",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Sheet Headers": {
      "main": [
        [
          {
            "node": "Headers Exist?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Headers Exist?": {
      "main": [
        [
          {
            "node": "Append Order to Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Header Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Header Row": {
      "main": [
        [
          {
            "node": "Append Order to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Format Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Message": {
      "main": [
        [
          {
            "node": "Send Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "error-handler-workflow"
  },
  "versionId": "cafe-durga-v20260216",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "cafe-durga-production-bot"
  },
  "id": "cafe-durga-bot-v2",
  "tags": [
    {
      "id": "restaurant",
      "name": "restaurant"
    },
    {
      "id": "telegram",
      "name": "telegram"
    },
    {
      "id": "ai",
      "name": "ai"
    },
    {
      "id": "orders",
      "name": "orders"
    }
  ]
}
